@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dollarFly {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

.dollar {
	animation-name: dollarFly;
	animation-duration: 1.2s;
}